* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: italics;
    background: #0F1021;
    color: #FFFFFE;
    overflow-x: hidden;
}

.container {
    width: 85%;
    margin: auto;
}



header {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 18px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    color: #7F5AF0;
}

nav a {
    color: #FFFFFE;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    transition: 0.3s;
}

nav a:hover {
    color: #7F5AF0;
}



.btn {
    background: #7F5AF0;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 500;
}

.btn:hover {
    background: #2CB67D;
    transform: translateY(-3px);
}



.hero {
    min-height: 95vh;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #1B1C3A, #0F1021);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-text h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-text p {
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 450px;
    color: #c9c9e0;
}

.hero-img img {
    width: 100%;
    max-width: 480px;
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.4);
    transition: 0.4s;
}

.hero-img img:hover {
    transform: scale(1.05);
}



.services {
    display: flex;
    gap: 30px;
    margin: 100px auto;
}

.card {
    flex: 1;
    padding: 35px;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    transition: 0.4s ease;
}

.card h3 {
    margin-bottom: 15px;
    color: #7F5AF0;
}

.card p {
    color: #c9c9e0;
    font-size: 14px;
}

.card:hover {
    transform: translateY(-10px);
    background: rgba(127,90,240,0.1);
}


.about {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 100px auto;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 25px;
    color: #c9c9e0;
}

.about-img img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}



.projects {
    text-align: center;
    margin: 100px auto;
}

.projects h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.project-grid {
    display: flex;
    gap: 30px;
}

.project-card {
    flex: 1;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    padding: 20px;
    transition: 0.4s;
}

.project-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.project-card:hover {
    transform: translateY(-10px);
    background: rgba(127,90,240,0.1);
}



footer {
    background: #1B1C3A;
    text-align: center;
    padding: 30px 0;
    margin-top: 80px;
    font-size: 14px;
    color: #c9c9e0;
}



@media(max-width: 900px) {

    .hero-content,
    .services,
    .about,
    .project-grid {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 36px;
    }

}